{{ if not (has "nvim" .profiles) }}
.config/nvim/**
{{ end }}
{{ if not (has "i3" .profiles) }}
.config/i3/**
{{ end }}
{{ if not (has "gui" .profiles) }}
.config/discord/**
.config/picom/**
.config/wezterm/**
{{ end }}
