{{ if has "gdb" .profiles }}
[".gdbinit-gef.py"]
type = "file"
url = "https://gef.blah.cat/py"
refreshPeriod = "168h"
{{ end }}

{{ if has "nvim" .profiles }}
#[".config/nvim"]
#type = "archive"
#url = "https://github.com/AstroNvim/AstroNvim/archive/refs/heads/main.zip"
#exact = false
#stripComponents = 1
#refreshPeriod = "168h"
{{ end }}

{{ if has "tmux" .profiles }}
[".config/tmux/plugins/tpm"]
type = "archive"
url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{ end }}

{{ if has "wal" .profiles }}
[".config/wal/colorschemes/dark/dracula.json"]
type = "file"
url = "https://raw.githubusercontent.com/dracula/pywal/master/dracula.json"
refreshPeriod = "168h"
{{ end }}

{{ if has "gui" .profiles }}
[".config/rofi/config.rasi"]
type = "file"
url = "https://raw.githubusercontent.com/dracula/rofi/main/theme/config1.rasi"
refreshPeriod = "168h"

[".config/wezterm/colors/dracula.toml"]
type = "file"
url = "https://raw.githubusercontent.com/dracula/wezterm/main/dracula.toml"
refreshPeriod = "168h"
{{ end }}
