[data]
profiles = [
  {{ if lookPath "gdb" }}"gdb",{{ end }}
  {{ if lookPath "lf" }}"lf",{{ end }}
  {{ if lookPath "nvim" }}"nvim",{{ end }}
  {{ if lookPath "tmux" }}"tmux",{{ end }}
  {{ if lookPath "wallust" }}"wal",{{ end }}

  {{ if lookPath "i3" }}"i3", "gui",{{ end }}
]
